---
import Layout from '../components/Layout.astro';
---

<style>
main {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}
</style>

<Layout title="Jamstack Conf 2021 Swag Site">
  <main>
    <h1>// TODO: build conf swag site</h1>
  </main>
</Layout>
