---
const { title } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
  <link rel="manifest" href="/site.webmanifest" />
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#f0047f" />
  <meta name="msapplication-TileColor" content="#ffffff" />
  <meta name="theme-color" content="#ffffff" />
  
  <title>{title}</title>

  <style global>
    @font-face {
      font-display: swap;
      font-family: body-font;
      font-weight: 10 1000;
      src: url("/fonts/body.woff2") format("woff2");
    }

    @font-face {
      font-display: swap;
      font-family: heading-font;
      font-weight: 10 1000;
      src: url("/fonts/heading.woff2") format("woff2");
    }

    :root {
      --black: hsl(229 32% 13% / 1);
      --lightGrey: hsl(234 8% 89% / 1);
      --darkGrey: hsl(218 8% 42% / 1);
      --white: hsl(0 0% 100% / 1);
      --pink: hsl(331 100% 67% / 1);
      --orange: hsl(36 100% 58% / 1);
      --blue: hsl(186 86% 59% / 1);
      --teal: hsl(174 90% 75% / 1);
      --green: hsl(162 100% 50% / 1);
      --gradient: linear-gradient(var(--teal) 0%, var(--green) 100%);
      --fontHeading: heading-font, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
        Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      --fontBody: body-font, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
        Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    }

    * {
      box-sizing: border-box;
    }

    html,
    body {
      color: var(--black);
      font-family: var(--fontBody);
      font-size: 18px;
      line-height: 1.45;
      margin: 0;
    }

    header {
      background: var(--black);
      border-bottom: 4px solid var(--pink);
      padding: 1rem max(5vw, 1rem) 0.625rem;
    }

    h1,
    h2 {
      color: var(--black);
      font-family: var(--fontHeading);
      line-height: 1.1;
    }

    footer {
      border-top: 1px solid var(--lightGrey);
      color: var(--darkGrey);
      font-size: 0.75rem;
      margin: 2rem auto 0;
      max-width: 1280px;
      padding: 1rem max(5vw, 1rem);
      text-align: center;
    }

    footer a {
      color: inherit;
      text-decoration: none;
    }

    .heart {
      display: inline-block;
      margin-inline: 0.125rem;
      vertical-align: top;
      width: 1.25rem;
    }

    .heart img {
      display: block;
      width: 100%;
    }
  </style>
</head>
<body>
  <header>
    <a href="/">
      <img src="/images/header.svg" alt="Jamstack Conf 2021" />
    </a>
  </header>

  <slot />

  <footer>
    <a href="https://ntl.fyi">
      made with <span class="heart" role="img" aria-label="love"><img src="https://res.cloudinary.com/jlengstorf/image/upload/f_auto,q_auto,w_50/v1596146333/netlify/netliheart.png" alt="a heart with the Netlify logo pattern in it" /></span> by the Netlify team
    </a>
  </footer>
</body>
</html>