---
const { title } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
  <link rel="manifest" href="/site.webmanifest" />
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#f0047f" />
  <meta name="msapplication-TileColor" content="#ffffff" />
  <meta name="theme-color" content="#ffffff" />
  
  <title>{title}</title>

  <style global>
    @font-face {
      font-display: swap;
      font-family: heading-font;
      font-weight: 10 1000;
      src: url("/fonts/heading.woff2") format("woff2");
    }

    :root {
      --black: hsl(229 32% 13% / 1);
      --fontHeading: heading-font, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
        Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    }

    * {
      box-sizing: border-box;
    }

    html,
    body {
      color: var(--black);
      font-size: 18px;
      margin: 0;
    }

    h1 {
      color: var(--black);
      font-family: var(--fontHeading);
      line-height: 1.1;
    }
  </style>
</head>
<body>
  <slot />
</body>
</html>